*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

:root{
  --bg-color: #0f151a;
  --text-color: #ffffff;
  --main-color: #f53fa1;
  --other-color: #00ecff;
  --h1-font: 4.3rem;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
  height: 110vh;
}
header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 30px 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: all ease .55s;
}
.navlist{
  display: flex;
}
.navlist a{
  font-size:15px;
  font-weight: 400;
  color: var(--text-color);
  margin: 0 30px;
  transition: all ease .55s;
}
.navlist a:hover{
  color: var(--other-color)
}

.logo img{
  width: 100%;
  height: auto;
}
.h-right a{
margin-right: 30px;
font-size: 17px;
font-weight: 700;
text-transform: uppercase;
color: var(--other-color);
transition: all ease .55s;
}
.h-right a:hover{
  color: var(--text-color);
}
#menu-icon{
  font-size: 37px;
  color: var(--main-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section{
  padding: 0 12% ;

}

.home{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size:cover;
  background-position: center;
  gap: 30px;
  
  border: 0px solid rgba(100, 100, 100, 1);
  background:
    radial-gradient(
      93% 93% at 8% 128%,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 60%,
      rgba(11, 148, 227, 0) 100%
    ),
    radial-gradient(
      49% 88% at 7% -14%,
      rgba(0, 0, 0, 0.73) 0%,
      rgba(3, 3, 3, 0.17) 60%,
      rgba(93, 227, 236, 0) 100%
    ),
    radial-gradient(
      115% 156% at 90% 89%,
      rgb(0, 0, 0) 0%,
      rgba(75, 254, 222, 0) 100%
    ),
    linear-gradient(
      234deg,
      rgb(0, 0, 0) 25%,
      rgba(0, 0, 0, 0.77) 35%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(160, 33, 143, 0) 84%
    ),
    radial-gradient(
      119% 119% at 3% 26%,
      rgb(0, 0, 0) 0%,
      rgba(29, 137, 209, 0) 74%
    ),
    linear-gradient(
      360deg,
      rgb(8, 165, 227) 20%,
      rgb(0, 0, 0) 100%
    );
}
  main{
height: 100%;
}
.home-img img{
  width: 100%;
  height: auto;
}

.home-text span{
  padding: 11px 18px;
  background: #4c1432;
  border-radius: 10px;
  color: var(--main-color);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.home-text h1{
  font-size: var(--h1-font);
  font-weight: 800;
  line-height: 1.3;
  margin: 22px 0;
}

.home-text p{
  width: 100%;
  max-width: 400px;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 30px;
  margin-bottom: 35px;
}

.home-text i{
  height: 45px;
  width: 45px;
  background: var(--main-color);
  color: #4c1432;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  border-radius: 12px;
  margin-right: 18px;
  margin-bottom: 50px;
  transition: all ease .55s;
}

.home-text i:hover{
  background: #4c1432;
  color: var(--main-color);
  transform: scale(1.09);
}
.btn{
display: inline-block;
padding: 15px 22px;
color: #4c1432;
background: var(--other-color);
border-radius: 25px;
font-size: 16px;
font-weight: 700;
border: 1px solid transparent;
text-transform: uppercase;
word-spacing: 5px;
transition: all ease .55s;
}
.btn:hover{
  border: 1px solid var(--other-color);
  background: transparent;
  color: var(--other-color);
}

.btn22{
  color: var(--other-color);
  font-size: 16px;
  font-weight: 700;
  margin-left: 25px;
  text-transform: uppercase;
  word-spacing: 5px;
  transition: all ease .55s;
}
.btn22:hover{
  color: var(--text-color);
}

.social{
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translatey(-50%);
}
.social a{
  display:flex;
  align-items:center;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  transition: all ease .55s;
}
.social i{
  margin-right: 5px;
  width: 22px;
  height: auto;
}
.social a:hover{
  transform: translateY(-4px) scale(1.08);
}

@media(max-width: 1820px){
  header{
    padding: 15px 7%;
  }
  section{
    padding: 0 7%;
  }
}

@media(max-width: 1610px){
  :root{
    --h1-font: 4.2rem;
  }
  .home-img{
    height: 600px;
    width: 600px;   
  }
  .home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media(max-width: 1490px){
  :root{
    --h1-font: 3rem;
  }
  .home-img{
    height: 500px;
    width: 500px;   
  }
}

@media(max-width: 1180px){
  .social{
    display: none;
  }
  section{
    padding: 70px 7%;
  }
  .home{
    display: flex;
    flex-wrap:wrap;
    gap: 2rem;
    height: 100%;
  }
  .home-text{
    order: 2;
    width: 100%;
  }
  .home-text p{
    width: 100%;
    max-width: 800px;
  }
  .home-img{
    height: 420px;
    width: 420px;
    margin: 20px auto;
  }
}

@media(max-width: 950px){
  .navlist a{
    margin: 0 15px;
  }
}

@media(max-width: 780px){
  header{
    padding: 13px 5%;
  }
  section{
    padding: 60px 5%;
  }
  #menu-icon{
    display: block;
    font-size: 43px;
  }
  .navlist{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 70px 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(32px);
    transition: all 0.5s ease-in-out;
  }
  .navlist a{
    display: block;
    padding: 0;
    margin: 0px 0px 22px 0px;
    font-size: 2rem;
  }
  .navlist.open{
    left: 0;
  }
}
@media(max-width: 530px){
  :root{
    --h1-font: 2.3rem;
  }
  .home-img{
    height: 400px;
    width: 400px;
    margin: 10px auto;
  }
}
